@import 'settings/global';

@media (min-width: 1200px) {

	body.webP #hero {
	  background: url('../images/hero-bg-desktop.webp');
  		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 0;
	}

	#hero {
	  	background: url('../images/hero-bg-desktop.jpeg');	
	}

	body.webP #more-excitement {
	  	background: url('../images/more-excitement-bg-desktop.webp');
	  		background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	}

	#more-excitement {
		background: url('../images/more-excitement-bg-desktop.jpeg');
	}

	body.webP #offers-for-schools .section-heading{
	  	background: url('../images/offers-for-schools-bg-desktop.webp');
	  		background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	}
	body.webP #offers-for-schools .section-footer {
	  	background: url('../images/offers-for-schools-footer-bg-desktop.webp');
	  		background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	}

	#offers-for-schools {
		.section-heading {
			background: url('../images/offers-for-schools-bg-desktop.jpeg');
		}
		.section-footer {
			background: url('../images/offers-for-schools-footer-bg-desktop.jpeg');
		}
	}


	/****************************************** 

	---------------- SUB PAGES ----------------

	*******************************************/


	body.webP #hero-business {
	  	background: url('../images/business-hero-bg-desktop.webp');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 100%;	
	}
	#hero-business {
	  	background: url('../images/business-hero-bg-desktop.jpeg');	
	}

	body.webP #wedding-place .section-heading{
  	background: url('../images/wedding-place-bg-desktop.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;	
	}

	#wedding-place {
		.section-heading {
			background: url('../images/wedding-place-bg-desktop.jpeg');
			height: 500px;
		}
	}

}