/*
  Project: Themes
  Author: gkriston84
 */
@import 'bootstrap-custom';

// @import '../../node_modules/genetiks/utilities';

@import 'settings/global';
@import 'tools/all';
@import 'generic/all';
@import 'elements/all';
@import 'objects/all';
@import 'components/all';
@import 'utilities/all';

// ANIMATIONS //




// BASE STYLE //

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

section {
	padding: 50px 0;
}

.bright {
	color: #fff;
}

.card-img img{
	height: 250px;
	object-fit: cover;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	&:hover {
		transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
		opacity: 0.8;
	}
}

.whitespace-100 {
	height: 100px;
	width: 100%;
	background: #fff;
}


// HERO //

body.webP #hero {
  background: url('../images/hero-bg.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;	
}
#hero {
	padding-top: 200px;
	padding-bottom: 300px;
	background: url('../images/hero-bg.jpeg');
    position: relative;
    h1 {
        font-family: 'Segoe UI', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        font-size: 9.1rem;
        line-height: 9.1rem;
    }
    p {
    	font-family: 'Montserrat', sans-serif;
    	font-weight: 300;
    	font-size: 3.0rem;
    	line-height: 4rem;
    	color: #F7FF00;
    	margin-top: 40px;
    }
    .palyazat-logo {
		position: absolute;
	    top: 0;
	    right: 0;
	    width: 15%;
	    max-width: 270px;
	    z-index: 2;
    }
    .htc-vive {
    	position: absolute;
	    bottom: 0;
	    right: 0;
	    width: 50%;
	    z-index: 2;
	    max-width: 900px;
    }
    .elements-bg {
    	position: absolute;
    	z-index: 1;
	    bottom: 36%;
	    width: 32%;
	    right: 1%;
	    max-width: 550px;
    }
    .elements-fg {
    	position: absolute;
	    bottom: 0;
	    right: 0;
	    width: 50%;
    	z-index: 3;
	    bottom: 2%;
	    width: 60%;
	    right: 0;
	    max-width: 1100px;
    }
}

// HERO - BUSINESS //

body.webP #hero-business {
  background: url('../images/business-hero-bg.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 100%;	
}
#hero-business {
	padding-top: 260px;
	padding-bottom: 300px;
	background: url('../images/business-hero-bg.jpeg');
    position: relative;
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        font-size: 7rem;
        line-height: 7.5rem;
        position: relative;
        z-index: 3;
    }
    .palyazat-logo {
		position: absolute;
	    top: 0;
	    right: 0;
	    width: 15%;
	    max-width: 270px;
	    z-index: 2;
    }
    .blurred-bg {
        background-color: rgba(255, 255, 255, 0.15);
	    backdrop-filter: blur(30px);
	    position: absolute;
	    top: 21%;
	    width: 60%;
	    height: 400px;
	    z-index: 2;
	}
}


// SECTION COUNTRY REFINING //

#country-refining {
	position: relative;
	padding-top: 0;
	.section-title {
		margin-top: 50px;
	}
	.img-box {
		position: relative;
		padding-right: 50px;
		.element-triangle {
		    position: absolute;
		    right: -35px;
		    top: 52%;
		    width: 32%;
		    max-width: 200px;
		}
		.element-box {
		    position: absolute;
		    bottom: -65px;
		    left: 19%;
		    width: 23%;
		    max-width: 160px;
		}
	}
	.text-box {
		padding-left: 50px;
	}
	.colored-line {
		position: absolute;
	    right: 0;
	    bottom: 22%;
	    width: 58%;
	    max-height: 12px;
	}
	.container {
		position: relative;
		.grey-dot-separator {
			position: absolute;
			width: 100%;
			bottom: -70px;
		}
	}
}

// SECTION - EXPLORE THE CAVES //

#explore-the-caves {
	position: relative;
	padding-top: 0;
	.text-box {
		padding-right: 50px;
	}
	.img-box {
		position: relative;
		padding-left: 50px;
		.element-triangle-small {
			position: absolute;
		    top: 16%;
		    left: -100px;
		    width: 20%;
		    max-width: 115px;
		}
		.element-cilinder {
			position: absolute;
			top: 52%;
		    left: -20px;
		    width: 24%;
		    max-width: 140px;
		}
	}
	.colored-line {
		position: absolute;
	    left: 0;
	    bottom: 26%;
	    width: 65%;
	    max-height: 12px;
	}
	.btn-holder {
		margin-top: 100px;
	}
}

//  SECTION SKY TOUR //


#sky-tour {
	position: relative;
	.img-holder {
		position: relative;
		margin-top: 30px;
		.element-triangle-small {
			position: absolute;
		    right: 5%;
		    bottom: -23%;
		    max-width: 150px;
		}
		.colored-line {
			width: 70%;
		    margin-right: 0;
		    float: right;
		}
	}
	.section-title {
		margin-bottom: 20px;
	}
	.container {
		position: relative;
		.element-box {
		    position: absolute;
		    right: 10%;
		    bottom: 13%;
		    width: 12%;
		    max-width: 140px;
		}
	}
	.btn-holder {
		margin: 50px 0 60px 0;
	}
}

// SECTION TREASURE OF BUKK //

#treasure-of-bukk {
	.colored-line {
		width: 70%;
	margin-bottom: -5px;
	}
	.img-box {
		padding-right: 50px;
		position: relative;
		.element-box {
			position: absolute;
		    top: 30%;
		    right: -43px;
		    width: 30%;
		    max-width: 170px;
		}
		.element-triangle {
			position: absolute;
		    left: 30px;
		    bottom: -30px;
		    width: 30%;
		    max-width: 160px;
		}
	}
	.text-box {
		padding-left: 50px;
		.btn-holder {
			margin: 50px 0 0 0;
		}
	}
}

// SECTION - SMART SANDPIT //

#smart-sandpit {
	.img-box {
		padding-left: 50px;
		position: relative;
		.element-box-flat {
			position: absolute;
			bottom: 9%;
		    right: -50px;
		    width: 30%;
		    max-width: 170px;
		}
		.element-cilinder-reverse {
			position: absolute;
			left: -16%;
		    top: 9%;
		    width: 25%;
		    max-width: 160px;
		}
	}
	.text-box {
		padding-right: 50px;
		.btn-holder {
			margin: 50px 0 0 0;
		}
	}
}

// SECTION - WALK TOUCHLESS //

#walk-touchless {
	.img-holder {
		position: relative;
		.element-box {
		    position: absolute;
		    bottom: 17%;
		    width: 14%;
		    left: 7%;
		    max-width: 155px;
		}
		.element-triangle-small {
		    position: absolute;
		    right: 7%;
		    top: -6%;
		    width: 15%;
		    max-width: 170px;
		}
	}
	.section-title {
		margin-bottom: 20px;
	}
	.btn-holder {
		margin-top: 50px;
	}
}

// SECTION - DRAW THINGS //

#draw-things {
	.img-holder {
		position: relative;
		.element-box {
		    position: absolute;
		    bottom: 50%;
		    width: 11%;
		    right: 9%;
		    max-width: 120px;
		}
	}
	.section-title {
		margin-bottom: 20px;
	}
	.btn-holder {
		margin-top: 50px;
	}
}

// SECTION - PRINT IN 3D //

#print-in-3d {
	.img-box {
		img {
			margin-top: 150px;
		}
	}
	.btn-holder {
		margin-top: 50px;
	}
}

// SECTION - MORE EXCITEMENT //

body.webP #more-excitement {
  	background: url('../images/more-excitement-bg.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;	
}

#more-excitement {
	position: relative;
	background: url('../images/more-excitement-bg.jpeg');
	padding: 150px 0;
	.section-title {
		color: #fff;
		margin-bottom: 20px;
	}
	.cat-title {
		color: #DABEFF;
		margin-top: 10px;
	}
	.curves {
	    position: absolute;
	    top: 0;
	    right: 0;
	    height: 100%;
	    width: 67%;
	    z-index: 5;
	}
	.element-box-reverse {
	    position: absolute;
		top: -14%;
	    width: 10%;
	    right: 36%;
	    max-width: 200px;
		}
	.element-triangle-small-reverse {
	    position: absolute;
		left: 39%;
	    bottom: 6%;
	    width: 5%;
	    max-width: 100px;
	    z-index: 6;
	}
	.element-triangle {
		position: absolute;
		width: 7%;
	    top: 23%;
	    right: 23%;
	    z-index: 6;
	    max-width: 130px;
	}
	.element-cilinder-reverse {
		position: absolute;
		width: 10%;
	    bottom: 25%;
	    right: 11%;
	    z-index: 6;
	    max-width: 180px;
	}
	.element-box-flat {
		position: absolute;
		z-index: 4;
		bottom: 11%;
	    width: 6%;
	    right: 24%;
	    max-width: 110px;
	}
	.element-box-reverse {
		position: absolute;
	}

}

// SECTION - VR EXPERIENCES //

#vr-experiences {
 background: #fff;
 .row {
 	justify-content: space-between;
 	.col-lg-6 {
 		flex: 0 0 48%;
 		margin-bottom: 70px;
	 	.card {
		 	border: none;
		 	-webkit-box-shadow: 0px 18px 40px 0px rgba(255,12,133,0.11);
			-moz-box-shadow: 0px 18px 40px 0px rgba(255,12,133,0.11);
			box-shadow: 0px 18px 40px 0px rgba(255,12,133,0.11);
			border-radius: 0 0 25px 25px;
		 	.card-img {
		 		img {
		 			border-radius: 25px 25px 0 0;
		 		}
		 	}
		 	.card-body {
		 		border-radius: 25px;
			    background: #fff;
			    padding: 20px 50px;
			    margin-top: -20px;
			    position: relative;
			    z-index: 5;
			    .post-title {
		    	  	font-family: 'Montserrat', sans-serif;
					font-weight: 700;
  					color: #000000;
  					margin-bottom: 20px;
  					font-size: 3.3rem;
			    	}
			    .entry-content {
		    	  	font-family: 'Montserrat', sans-serif;
					font-weight: 300;
					font-size: 2.2rem;
			    	}
		 		}	
		 	}
 		}	
 	}
}

// SECTION - OFFER FOR SCHOOLS //

body.webP #offers-for-schools .section-heading{
  	background: url('../images/offers-for-schools-bg.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;	
}

body.webP #offers-for-schools .section-footer {
  	background: url('../images/offers-for-schools-footer-bg.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;	
}

#offers-for-schools {
	padding-top: 0;
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(235,232,232,1) 100%);
	padding-bottom: 0;
	.section-heading {
		background: url('../images/offers-for-schools-bg.jpeg');
		padding: 100px 0 150px;
		.container {
			position: relative;
			.schoolboy {
				position: absolute;
				top: -200px;
			    right: 0;
			    width: 37%;
			    max-width: 425px;
			}
			.section-title {
				color: #fff;
				margin-bottom: 20px;
			}
			.cat-title {
				color: #DABEFF;
				margin-top: 10px;
			}
		}
	}
	.section-content {
		margin-top: -70px;
		.col-lg-12 {
			margin-bottom: 100px;
			padding: 0;
			position: relative;
			.colored-line {
				position: absolute;
				left: -15px;
			    top: -7px;
			    width: 65%;
			    max-height: 12px;
			}
			.card {
				flex-direction: row;
				border: none;
				-webkit-box-shadow: 0px 30px 45px 0px rgba(0,0,0,0.16);
				-moz-box-shadow: 0px 30px 45px 0px rgba(0,0,0,0.16);
				box-shadow: 0px 30px 45px 0px rgba(0,0,0,0.16);
				position: relative;
				.card-img {
					padding: 0;
					img {
						height: 600px;
					}
				}
				.card-body {
					padding: 100px 70px 50px;
					position: relative;
				    .post-title {
			    	  	font-family: 'Montserrat', sans-serif;
						font-weight: 700;
	  					color: #000000;
	  					margin-bottom: 10px;
	  					font-size: 5.3rem;
	  					line-height: 5.3rem;
				    }
				    .number-of-participant {
				    	color: #FF3A80;
				    	font-size: 2rem;
				    	margin-bottom: 40px;
				    }
				    .entry-content {
			    	  	font-family: 'Montserrat', sans-serif;
						font-weight: 300;
						font-size: 2.2rem;
						p {
							width: 70%;
						}
				    }
				    .btn-holder {
				    	position: absolute;
				    	left: 70px;
				    	bottom: 80px;
				    }
				}
				.element-cilinder-reverse {
					position: absolute;
					right: -65px;
				    bottom: 40%;
				    width: 15%;
				    max-width: 150px;
					z-index: 3;
				}
				.element-box-flat {
					position: absolute;
					left: -70px;
				    bottom: 45%;
					width: 15%;
					max-width: 150px;
					z-index: 3;
				}
				.element-triangle {
					position: absolute;
				    top: -60px;
				    right: 30px;
					width: 15%;
					max-width: 150px;
					z-index: 3;
				}
			}
		}
	}
	.section-footer {
       background: url('../images/offers-for-schools-footer-bg.jpeg');
   	   height: 800px;
   	   margin-top: -500px;
	}
}

// SECTION - CONTACT //

#contact {
	padding-top: 0;
	padding-bottom: 0;
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(235,232,232,1) 100%);
	.contact-form {
		width: 90%;
		margin: 0;
		.desc,
		.email,
		.name,
		.submit,
		.privacy,
		.btn-holder {
			padding-left: 0;
		}
		.message {
			padding-left: 0;
			margin-bottom: 50px;
			textarea {
				width: 100%;
			    border: none;
    			border-bottom: 1px solid #707070;
				border-radius: .25rem;
				//box-shadow: 0 2px 2px rgba(0,0,0,.19), 0 3px 3px rgba(0,0,0,.23);
				transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
				margin: 15px 0;
				background-color: transparent;
				padding: 10px;

			}

		}
		.desc {
    	  	font-family: 'Montserrat', sans-serif;
			font-weight: 300;
			font-size: 2.2rem;
		}
		input {
		    border: none;
    		border-bottom: 1px solid #707070;
			border-radius: .25rem;
			//box-shadow: 0 2px 2px rgba(0,0,0,.19), 0 3px 3px rgba(0,0,0,.23);
			transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
			background-color: transparent;
			margin-top: 10px;
			padding: 10px 0;
			width: 100%;
			&::placeholder {
				color: #FF8238;
				font-style: italic;
	    	  	font-family: 'Montserrat', sans-serif;
				font-weight: 300;
			}
		&[type="submit"] {
			color: #fff;
		    background: rgb(255,0,187);
		    background: linear-gradient(45deg, rgba(255,0,187,1) 0%, rgba(255,187,0,1) 100%);
		    border: none;
		    border-radius: 30px;
		    padding: 16px 30px;
		    font-family: 'Montserrat', sans-serif;
		    font-size: 1.8rem;
		    -webkit-box-shadow: 0px 18px 40px 0px rgba(255,0,128,0.27);
		    -moz-box-shadow: 0px 18px 40px 0px rgba(255,0,128,0.27);
		    box-shadow: 0px 18px 40px 0px rgba(255,0,128,0.27);
			}	
		&[type="submit"]:hover {
	        -webkit-box-shadow: 0px 9px 20px 0px rgba(255,0,128,0.27);
	        -moz-box-shadow: 0px 9px 20px 0px rgba(255,0,128,0.27);
	        box-shadow: 0px 9px 20px 0px rgba(255,0,128,0.27);
			}	
		}
		.privacy {
			position: relative;
			margin-bottom: 50px;
			.wpcf7-list-item {
				margin-left: 3.5rem;
				label {
					font-family: 'Montserrat', sans-serif;
					font-weight: 300;
					font-size: 1.8rem;
					a {
						color: #6D91D3;
						font-weight: 700;
						&:hover {
							opacity: 0.8;
						}
					}
				}
				input[type="checkbox"] {
					position: absolute;
					width: 20px;
				    height: 20px;
				    left: 0;
				    top: -40px;
				}
			}
		}
		.btn-holder {
			padding-top: 15px;
			.btn-mail,
			.btn-facebook {
				display: inline-block;
				background-color: transparent;
				border: none;
				border-radius: 30px;
				img {
					max-width: 50px;
				}
			}
			.btn-mail {
				img {
					-webkit-box-shadow:  0px 18px 40px 0px rgba(212,20,79,0.34);
					-moz-box-shadow:  0px 18px 40px 0px rgba(212,20,79,0.34);
					box-shadow:  0px 18px 40px 0px rgba(212,20,79,0.34);
					transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
					&:hover {
						-webkit-box-shadow: 0px 9px 20px 0px rgba(212,20,79,0.34);
						-moz-box-shadow: 0px 9px 20px 0px rgba(212,20,79,0.34);
						box-shadow: 0px 9px 20px 0px rgba(212,20,79,0.34);
						transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
					}
				}
			}
			.btn-facebook {
				img {
					-webkit-box-shadow:  0px 18px 40px 0px rgba(33,20,212,0.34);
					-moz-box-shadow:  0px 18px 40px 0px rgba(33,20,212,0.34);
					box-shadow: 0px 18px 40px 0px rgba(33,20,212,0.34);
					transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
					&:hover {
						-webkit-box-shadow: 0px 9px 20px 0px rgba(33,20,212,0.34);
						-moz-box-shadow: 0px 9px 20px 0px rgba(33,20,212,0.34);
						box-shadow: 0px 9px 20px 0px rgba(33,20,212,0.34);
						transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
					}
				}
			}
		}
	}
	.img-box {
		position: relative;
		img {
		    height: 700px;
		    width: 100%;
		    object-fit: cover;
		    object-position: 0% 40%;
		}
		.element-box-reverse {
			position: absolute;
			left: -35px;
		    bottom: 20%;
		    width: 30%;
		    max-width: 170px;
			z-index: 4;
			height: auto;
		}
		.element-box-flat {
			position: absolute;
			right: -70px;
		    top: 20%;
		    width: 27%;
			max-width: 150px;
			z-index: 4;
			height: auto;
		}
		.element-triangle {
			position: absolute;
		    top: -105px;
		    left: 85px;
		    width: 27%;
			max-width: 150px;
			z-index: 4;
			height: auto;
		}
	}
}


// SECTION - FOOTER //

footer {
	padding: 2rem 0 1rem 0;
	background-color: #2D2D2D;
	.navbar-brand {
		img {
			margin-left: -30px;
		}
	}
	.menu {
		margin-top: 40px;
    	text-align: right;
		li {
			display: inline-block;
			padding: 0 0 0 45px;
			a {
				font-family: 'Segoe UI', sans-serif;
				color: #FFC982;
				text-transform: uppercase;
				font-weight: 700;
				&:hover {
					color: #fff;
				}
			}
		}
	}
	.copyright {
		color: #CBCBCB;
		font-family: 'Segoe UI', sans-serif;
		font-weight: 300;
		text-align: right;
		font-size: 1rem;
		 margin-top: -40px;
		 margin-bottom: 40px;
	}
}


/****************************************** 

---------------- SUB PAGES ----------------

*******************************************/



/*** ÜZLETI PARTNEREIKNEK ***/


// SECTION - BUSINESS SERVICES //

#business-services {
	.service {
		margin: 40px 0;
		padding: 0 5px;
		.service-title {
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			font-size: 2.6rem;
			margin-top: 30px;
			margin-bottom: 40px;
		}
		p {
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
			font-size: 1.8rem;
		}
	}
}


// SECTION - RENTAL EQUIPMENTS //


#rental-equipments {
	.white-grey-bg {
		background: url('../images/grey-bg.jpeg');
		background-repeat: no-repeat;
		background-position: 100% 0;
		background-size: 50%;	
	}
	.grey-white-bg {
		background: url('../images/grey-bg.jpeg');
		background-repeat: no-repeat;
		background-position: 0% 0;
		background-size: 50%;
		margin-top: -50px;	
	}
	.row.first-line {
		.img-box {
		    padding-top: 50px;
	    	padding-bottom: 80px;
	        border-left: 7px solid rgb(233, 233, 233);
		    border-top: 7px solid rgb(233, 233, 233);
		    margin-top: 30px;
		    position: relative;
		    img {
		    	max-width: 500px;
		    }
		    .element-triangle-small {
		    	position: absolute;
		    	top: -80px;
			    right: 10px;
			    width: 23%;
			    max-width: 120px;

		    }
		    .element-triangle.top {
			    position: absolute;
			    top: 3%;
			    left: 20%;
			    width: 14%;
			    max-width: 80px;
			    transform: rotate(40deg);
		    }
		    .element-triangle.bottom {
		    	position: absolute;
				bottom: 14%;
			    right: 50%;
			    width: 8%;
			    max-width: 50px;
			    transform: rotate(65deg);
		    }
		}
		.text-box {
			padding: 20px 0 0 60px;
			background-color: #E9E9E9; 
			position: relative;
			.equipment-title {
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				font-size: 2.6rem;
				margin-top: 30px;
				margin-bottom: 40px;
			}
			.rental-title {
				font-family: 'Montserrat', sans-serif;
				font-weight: 300;
				font-size: 1.8rem;
			    line-height: 2.2rem;
				color: #FF34BB;
				margin-top: 20px;
			}
			.rental-price {
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				font-size: 2.2rem;
			    line-height: 2.2rem;
				color: #000000;
			}
			.btn-holder {
				position: absolute;
				left: 50px;
				bottom: 60px;
			}
		}
	}
	.row.second-line {
		.img-box {
		    padding-top: 50px;
	    	padding-bottom: 80px;
	        border-right: 7px solid rgb(233, 233, 233);
		    border-bottom: 7px solid rgb(233, 233, 233);
		    margin-bottom: 60px;
		    position: relative;
		    height: 400px;
		    img {
	    	    position: absolute;
			    width: 85%;
			    left: 8%;
			    bottom: -30%;
			    max-width: 500px;
		    }
		    .element-cilinder-mirror {
		    	position: absolute;
		    	right: 20px;
		    	left: auto;
			    width: 20%;
			    max-width: 110px;
			    bottom: 3%;
		    }
		    .element-triangle-small {
		    	position: absolute;
	    	    bottom: -65px;
			    width: 10%;
			    max-width: 60px;
			    right: 15%;
			    left: auto;

		    }
		    .element-box-reverse {
		    	position: absolute;
		    	left: -50px;
			    width: 17%;
			    transform: rotate(120deg);
			    top: 13%;
			    max-width: 100px;
		    }
		}
		.text-box {
			padding: 20px 60px 0 10px;
			background-color: #E9E9E9; 
			position: relative;
			.equipment-title {
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				font-size: 2.6rem;
				margin-top: 30px;
				margin-bottom: 40px;
			}
			.rental-title {
				font-family: 'Montserrat', sans-serif;
				font-weight: 300;
				font-size: 1.8rem;
			    line-height: 2.2rem;
				color: #FF34BB;
				margin-top: 20px;
			}
			.rental-price {
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				font-size: 2.2rem;
			    line-height: 2.2rem;
				color: #000000;
			}
			.btn-holder {
				position: absolute;
				left: 0;
				bottom: 60px;
			}
		}
	}
}

body.webP #wedding-place .section-heading{
  	background: url('../images/wedding-place-bg.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;	
}

#wedding-place {
	.section-heading {
		background: url('../images/wedding-place-bg.jpeg');
		height: 500px;
		position: relative;
		.cat-title {
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			font-size: 2.2rem;
			text-align: center;
			color: #fff;
			letter-spacing: 10px;
			padding-top: 50px;
		}
		img.lazy {
			margin-top: 20px;
		    border-radius: 20px;
		    width: 100%;
			-webkit-box-shadow: 0px 30px 45px 0px rgba(0,0,0,0.16);
			-moz-box-shadow: 0px 30px 45px 0px rgba(0,0,0,0.16);
			box-shadow: 0px 30px 45px 0px rgba(0,0,0,0.16);
		}
		.container {
			position: relative;
		    .element-triangle.top {
				position: absolute;
			    top: 32%;
			    left: -60px;
			    width: 18%;
			    max-width: 127px;
			    transform: rotate(-25deg);
		    }
		    .element-triangle.bottom {
			    position: absolute;
			    top: 13%;
			    left: -100px;
			    width: 8%;
			    max-width: 50px;
			    transform: rotate(65deg);
		    }
		    .element-box-reverse {
				position: absolute;
			    right: 14%;
			    width: 10%;
			    transform: rotate(120deg);
			    top: 5%;
			    max-width: 115px;
		    }
		}
	}
	.btn-holder {
		margin-top: 40px;
		margin-bottom: 100px;
	}
}



/*** SINGLE - VR ÉLMÉNYEK -> ÉLMÉNYEK ***/

#single-vr-experience-post {
	padding-top: 0;
	header {
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 100%;
		padding-top: 260px;
		padding-bottom: 300px;
	    h1 {
	        font-family: 'Montserrat', sans-serif;
	        font-weight: 700;
	        text-transform: uppercase;
	        color: #fff;
	        font-size: 7rem;
	        line-height: 7.5rem;
	        position: relative;
	        z-index: 3;
	        width: 50%;
	    }
	    .palyazat-logo {
			position: absolute;
		    top: 0;
		    right: 0;
		    width: 15%;
		    max-width: 270px;
		    z-index: 2;
	    }
	    .blurred-bg {
	        background-color: rgba(255, 255, 255, 0.15);
		    backdrop-filter: blur(30px);
		    position: absolute;
		    top: 21%;
		    width: 55%;
		    height: 400px;
		    z-index: 2;
		}
		.colored-line {
		    position: absolute;
		    left: 0;
		    bottom: 0;
		    width: 100%;
		    height: 12px;
		    max-height: 12px;
		    z-index: 3;
		}
	}
	.vr_experience {
		.age-group {
	        font-family: 'Montserrat', sans-serif;
	        font-weight: 300;
	        color: #FF6951;
	        font-size: 1.8rem;
	        margin-bottom: 0;
		}
		h2 {
	        font-family: 'Montserrat', sans-serif;
	        font-weight: 700;
	        color: #2D2D2D;
	        font-size: 4.2rem;
	        margin-bottom: 20px;
		}
		.grey-dot-separator-short {
			margin-bottom: 30px;
		}
		.entry-content {
			margin-bottom: 40px;
			p {
				margin: 20px 0;
			}
		}
		.params {
			list-style-type: none;
			margin-bottom: 40px;
			li {
		        font-family: 'Montserrat', sans-serif;
		        font-weight: 300;
		        color: #FF6951;
		        font-size: 1.8rem;
		        position: relative;
		        list-style-type: none;
		        margin-left: 20px;
		        &:before {
		        	content: "";
				    display: inline-block;
				    height: 10px;
				    width: 10%;
				    background-image: url('../images/list-arrow.svg');
				    background-repeat: no-repeat;
				    background-size: contain;
				    position: absolute;
				    left: -30px;
   					 top: 8px;
		        }
			}
		}
		.row {
			justify-content: space-between;
				.img-box {
				padding: 0;
				margin-top: -50px;
				background-repeat: no-repeat;
			    background-size: cover;
			    background-position: 50% 0;
			    height: 600px;
			    max-height: 600px;
			    margin-right: 40px;
			    img {
			    	height: 100%;
	    			width: 100%;
			    }
				.price {
				    background: rgb(0,238,198);
				    background: linear-gradient(183deg, rgba(0,238,198,1) 0%, rgba(255,0,187,1) 100%);
				    position: absolute;
				    right: -50px;
				    bottom: 20%;
				    font-size: 2.2rem;
				    color: #fff;
				    padding: 13px 20px;
				    font-family: 'Montserrat', sans-serif;
				    font-weight: 700;
				}
			}
		}
	}
	.grey-box {
		margin-top: 30px;
		background: #ECECEC;
	    padding: 40px 50px;
	    border: 3px solid #E4E4E4;
	    border-radius: 10px;
	    .btn-holder {
	    	text-align: right;
	    }
	}
}