/* ==========================================================================
   #FIXED RATIO
   ========================================================================== */

/**
 * Image helper to avoid reflow upon lazy loading images.
 */


.fixed-ratio {
	display: block;
	position: relative;
	height: 0;
	overflow: hidden;
}

.fixed-ratio__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-width: inherit;
}

.fixed-ratio--1by1 {
	padding-bottom: 100%;
}