/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 2.125rem;
}

h6 {
  font-size: 2rem;
}

p,a,.btn {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

li,label,input,textarea  {
  font-size: 1.6rem;
}

.description {
  width: 70%;
  text-align: center;
  margin: auto;
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 5rem;
    line-height: 5.1rem;
    color: #2d2d2d;
    text-align: left;
    margin-left: 0;
    margin-bottom: 50px;
    margin-right: 0;
    width: 100%;
}

.cat-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
    line-height: 2.2rem;
  color: #FF34BB;
  margin-top: 50px;
}

.section-desc {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 3.7rem;
}


.align-center {
  text-align: center;
}

.less-margin-bottom {
  margin-bottom: 20px;
}

.extra-margin-top {
  margin-top: 50px;
}

.extra-margin-bottom {
  margin-bottom: 50px;
}