/* ==========================================================================
   #HR
   ========================================================================== */

hr {
  display: block;
}

.underline {
	width: 50px;
    margin: 0 auto 40px auto;
    background: black;
    height: 2px;
    &.bright {
    	background: #f2f2f2;
    }
}

.grey-dot-separator {
  width: 100%;
}


.grey-dot-separator-short {
    width: 300px;
    height: 5px;
    object-fit: cover;
    margin: 0;
}