@mixin responsive-background($img: 'img', $ext: 'jpg') {
  background-image: url("../images/#{$img}.#{$ext}");
  @media (max-width: 767px) and (min-resolution: 2dppx) {
    background-image: url("../images/#{$img}-2x.#{$ext}");
  }
  @media(min-width: 768px) {
    background-image: url("../images/#{$img}-tablet.#{$ext}");
  }
  @media(min-width: 1200px) {
    background-image: url("../images/#{$img}-desktop.#{$ext}");
  }
}