/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  padding: 0.5rem 1rem;
  transition: $global-transition;
  border-radius: $global-radius;
}

/* Style variants
   ========================================================================== */

.c-btn--primary {
  background-color: $color-link;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none; /* [4] */
    color: $color-white;
  }

  &:hover,
  &:focus {
    background-color: $color-hover;
  }
}

/* Size variants
   ========================================================================== */

.c-btn--small {
  padding: 0.25rem 0.5rem;
}

.c-btn--large {
  padding: 0.75rem 1.5rem;
}

.btn-gradient-orange {

    background: rgb(255,0,187);
    background: linear-gradient(45deg, rgba(255,0,187,1) 0%, rgba(255,187,0,1) 100%);
    border: none;
    border-radius: 30px;
    padding: 16px 30px;
    margin-right: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    -webkit-box-shadow: 0px 18px 40px 0px rgba(255,0,128,0.27);
    -moz-box-shadow: 0px 18px 40px 0px rgba(255,0,128,0.27);
    box-shadow: 0px 18px 40px 0px rgba(255,0,128,0.27);
    span {
      font-weight: 700;
      margin: 0 0 0 15px;
      .right-arrow {
        max-width: 10px;
        vertical-align: text-top;
        margin-top: 2px;
      }
    }
    &:hover {
        -webkit-box-shadow: 0px 9px 20px 0px rgba(255,0,128,0.27);
        -moz-box-shadow: 0px 9px 20px 0px rgba(255,0,128,0.27);
        box-shadow: 0px 9px 20px 0px rgba(255,0,128,0.27);
    }
}

.btn-like {
    background: rgb(60,93,161);
    background: linear-gradient(0deg, rgba(60,93,161,1) 0%, rgba(75,118,207,1) 100%);
    border: none;
    border-radius: 30px;
    padding: 11px 20px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    -webkit-box-shadow: 0px 18px 40px 0px rgba(33,20,212,0.34);
    -moz-box-shadow: 0px 18px 40px 0px rgba(33,20,212,0.34);
    box-shadow: 0px 18px 40px 0px rgba(33,20,212,0.34);
    span {
      font-weight: 700;
      margin: 0 0 0 10px;
      .like-icon {
        width: 35%;
        max-width: 40px;
        vertical-align: sub;
      }
    }
    &:hover {
        -webkit-box-shadow: 0px 9px 20px 0px rgba(33,20,212,0.34);
        -moz-box-shadow: 0px 9px 20px 0px rgba(33,20,212,0.34);
        box-shadow: 0px 9px 20px 0px rgba(33,20,212,0.34);
    }
}

.btn-back {
  float: left;
  span {
    margin-right: 20px;
    .left-arrow {
      max-width: 10px;
      vertical-align: text-top;
      margin-top: 2px;
    }
  }
}

