/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-header {
  border-bottom: 1px solid $color-border;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

