// SCROLL TO TOP BUTTON STYLE //

#scroll-to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: #f0b; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 2px 15px; /* Some padding */
   /* Rounded corners */
  font-size: 55px; /* Increase font size */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  &:hover {
  	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  	background-color: transparent; /* Add a dark-grey background on hover */
  	color: #fb0;
  	border-radius: 70px 70px 20px 20px;
  }
  span {
  	font-size: 14px;
    font-weight: 600;
	  position: absolute;
    right: 34%;
    bottom: 13%;
    color: gray;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}